<!DOCTYPE html>
{% extends 'base-testing.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
</head>
<body>
    {% block content %}
    <span style="font-size: 12px;" type="button" class="badge badge-primary" data-toggle="collapse" data-target="#collapseSelect" aria-controls="collapseSelect">검색</span>
    <span style="font-size: 12px;" type="button" class="badge badge-danger" data-toggle="collapse" data-target="#collapseInsert" aria-controls="collapseInsert">입력</span>
    <!-- 로딩바 -->
    <div class="spinner-border spinner-border-sm text-dark" role="status" id="spinners" name="spinners"></div>

    <!-- 상단 페이지. 검색, 입력-->
    <div class="card card-body mt-2 bg-light callout callout-danger small">
        <table class="mb-1">
            <tr>
                <td>
                    <div class="mb-2">
                    <h6>Test Page</h6>
                    <a>- The road to success and the road to failure are almost exactly the same. </a>
                    <br><a>- It is better to fail in originality than to succeed in imitation.</a>
                    <br><a>- All progress takes place outside the comfort zone.</a>
                    </div>

                    <form class="form-inline" onsubmit="return false" id="" name="">
                        {% csrf_token %}
                        <input type="text" class="form-control form-control-sm" id="s_job_name" name="s_job_name">
                        &nbsp;<button id="search" class="btn btn-outline-dark btn-sm">검색</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
    <hr>

    <!-- 메인 본문. AJAX -->
    <div>
        <table class="w-100" border="0"><tr>
            <td style="width: 15%" class="align-top"><div class="" id="left_ajax" style="1font-size: 12px;"></div></td>
            <td style="width: 85%" class="align-top"><div class="" id="right_ajax" style="1font-size: 12px;"></div></td>
        </tr></table>
    </div>


	<!-- loading control -->
	<script>
	$(document).ready(function(){
    	$('#spinners').hide();
	})

	.ajaxStart(function(){
        $('#spinners').fadeIn(10);

	})

	.ajaxStop(function(){
		$('#spinners').fadeOut(10);
	});
	</script>

	<!-- left ajax script -->
	<script>
		var token = $('input[name="csrfmiddlewaretoken"]').prop('value');

		$('#search').click(function(){
            call_left_ajax();
		});

        $('#left_ajax').load('dummy',function(){
            call_left_ajax();
        });

		function call_left_ajax() {
			var s_job_name = $("#s_job_name").val();

			$.ajax( {
				type : 'POST',
				url: "{% url 'test1_left_ajax' %}",
				data: {
					'csrfmiddlewaretoken': token,
					's_job_name': s_job_name,
				},
				success: call_more_left_ajax,
				dataType: 'html'
			});
		}

		function call_more_left_ajax(data, textStatus, jqXHR) {
			$('#left_ajax').html(data);
		}
	</script>

    {% endblock %}
</body>
</html>
