<!DOCTYPE html>
{% extends 'base-testing.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
</head>
<body>
    {% block content %}
    <div>
        <span style="font-size: 12px;" type="button" class="badge badge-warning" data-toggle="collapse" data-target="#collapse_graph" aria-controls="collapseUpdateMulti">통계 보기</span>
    </div>

	<div class="collapse small show" id="collapse_graph" style="1font-size: 12px;">
		<table class="w-50">
			<td>
				<div class="card card-body mt-2 bg-light callout callout-dark">
<!--					<h6>graph test</h6>-->
<!--					<a class="mb-3">- 체크 대상으로 <font color="red"><b>일괄 변경</b></font> 되오니, 신중하게 사용해주세요.</a>-->
                    <div class="test1" id="test1" style="height:200px"></div>
				</div>
			</td>
		</table>
	</div>


    <hr>
    <div class="center">
        <button type="button" class="btn btn-primary btn-sm btn-lg active" id="charta" name="btnAdd">A chart</button>
        <button type="button" class="btn btn-primary btn-sm btn-lg " id="chartb" name="btnAdd">B chart</button>
    </div>

    <div class="row">
        <div class="col test" id="test" style="height:300px; width:300px"></div>
        <div class="col main" id="main" style="height:300px"></div>
    </div>
    <hr>

    <!-- 차트a -->
    <script>
        var myChart = echarts.init(document.getElementById('test'));
        var option = {
            title: {
                text: 'Charts Test A'
            },
            tooltip: {},
            legend: {
                data:['Chart Test A']
            },

            xAxis: {
                data: ["ab","cd","ef","gh","ij","kl","mo","pq","rs","tu","vw","xyz"],
            },

            yAxis: {},
            series: [{
                name: 'Chart Test A',
                type: 'bar',
                itemStyle:{
                    color: '#B40404',
                },
                data: [5, 20, 36, 10, 10, 20,40,50,60,70,180,10]
            }]
        };
        myChart.setOption(option);
    </script>

    <!-- account 차트-->
    <script>
        var token = $('input[name="csrfmiddlewaretoken"]').prop('value');
        var chart_test1 = echarts.init(document.getElementById('test1'));

        $.ajax( {
            type : 'POST',
            url: "{% url 'graph_test' %}",
            dataType: "json",
            data: {
                'csrfmiddlewaretoken': token,
            },
            success: function (data) {
                var option = {
                    title: {
                        left: 'center',
                        text: 'Account Count'
                    },
                    tooltip: {
				        trigger: 'axis',
				        axisPointer: {
					        type: 'shadow'
				        }
                    },
                    legend: {
                        data:['Count']
                    },
                    xAxis: {
                        data: data.key
                    },
                    yAxis: {
                        type: 'value'
                    },
                    series: [{
                        name: 'Count',
                        type: 'line',
                        itemStyle:{
                            color: 'darkgreen',
                        },
                        data: data.value
                    }]
                };
                chart_test1.setOption(option);
            },
            error: function () {
                alert("error");
            }
        });
    </script>

    <!--  차트 A, 차트 B 버튼 클릭 -->
    <script>
        $('#charta').click(function(){
            var myChart = echarts.init(document.getElementById('test'));
            var option = {
				title: {
					text: 'Charts Test A'
				},
				tooltip: {},
				legend: {
					data:['Chart Test A']
				},

				xAxis: {
					data: ["ab","cd","ef","gh","ij","kl","mo","pq","rs","tu","vw","xyz"]
				},

				yAxis: {},
				series: [{
					name: 'Chart Test A',
					type: 'bar',
                    itemStyle:{
						color: '#B40404',
					},
					data: [5, 20, 36, 10, 10, 20,40,50,60,70,180,10]
				}]
			};
            myChart.setOption(option);
        });

        $('#chartb').click(function(){
            var myChart = echarts.init(document.getElementById('test'));
            var option = {
				title: {
					text: 'Charts Test B'
				},
				tooltip: {},
				legend: {
					data:['Chart Test B']
				},

				xAxis: {
					data: ["ab","cd","ef","gh","ij","kl","mo","pq","rs","tu","vw","xyz"]
				},

				yAxis: {},
				series: [{
					name: 'Chart Test B',
					type: 'bar',
                    itemStyle:{
						color: '#0431B4',
					},
					data: [305, 430, 536, 610, 710, 520,440,550,690,70,180,10]
				}]
			};
            myChart.setOption(option);
        });
    </script>

    <!-- 차트 메인(간트 테스트) -->
    <script>
        var chart_main= echarts.init(document.getElementById("main"));

        var option = {
            title: {
            	text: 'Charts Test2'
            },
			tooltip: {
				trigger: 'axis',
				axisPointer: {
					type: 'shadow'
				}
			},
			legend: {
				data: ['abcd', 'efgh', 'ijkl']
			},
			grid: {
				left: '3%',
				right: '4%',
				bottom: '3%',
				containLabel: true
			},
			xAxis: {
				type: 'value'
			},
			yAxis: {
				type: 'category',
				data: ['db1','db2','db3','db4','db5','db6','db7']
			},
			series: [
				{
					name: 'abcd',
					type: 'bar',
					stack: 'stack',
					itemStyle:{
						color: '#f8f9fa',
					},
					label: {
						show: false,
						position: 'insideRight'
					},
					data: [80, 350, 720, 120, 390, 530, 450]
				},
				{
					name: 'efgh',
					type: 'bar',
					stack: 'stack',
					itemStyle:{
						color: '#000000',
					},
					label: {
						show: false,
						position: 'insideRight'
					},
					data: [160, 182, 221, 244, 180, 450, 240]
				},
				{
					name: 'ijkl',
					type: 'bar',
					stack: 'stack',
					itemStyle:{
						color: '#f8f9fa',
					},
					label: {
						show: false,
						position: 'insideRight'
					},
					data: [220, 182, 191, 234, 290, 330, 310]
				}
			]
		};
        chart_main.setOption(option);
    </script>
	{% endblock %}
</body>
</html>