<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>right_ajax</title>
</head>
<body>

{% if job_info_name != '' %}
<div class="card card-body mt-0 bg-light callout callout-dark">
    <h6>{{ job_info_name }}</h6>
    <table class="mb-2"><hr class="mt-2 mb-2">
        <tr>
            <td>
                <!--
                <div><table><tr>
                    <td>
                        {% for job_svr_list in job_svr_lists %}
                        <table style="width: 150px" border="1"><tr>
                            {% if job_svr_list.use_yn == 1 %}
                            <td class="bg-primary text-light" style="width: 15%"></td>
                            {% else %}
                            <td class="bg-danger text-light" style="width: 15%"></td>
                            {% endif %}
                            <td class="bg-dark text-light text-center" style="width: 85%">{{ job_svr_list.svr }}</td>

                        </tr></table>
                        {% endfor %}
                        -->

                        {% for job_svr_list in job_svr_lists %}
                    <span class="badge 1badge-light badge-pill mt-0 mb-1" style="background-color: #DCDCDC">
                        <div class="pl-4 pr-4 pt-0 pb-0 custom-control custom-switch">
                            &nbsp;&nbsp;
                            <input type="checkbox" class="custom-control-input" {% if job_svr_list.use_yn == 1 %} checked {% endif %} id="{{ job_svr_list.svr }}">
                            <label class="custom-control-label pt-1" for="{{ job_svr_list.svr }}">{{ job_svr_list.svr }}.tmonc.net</label>
                        </div>
                    <!--
                    <div class="pl-5 pr-5 pt-1 pb-1">{{ job_svr_list.svr }}.tmonc.net
                    <input type="checkbox" id="job_svr_list" name="job_svr_list" {% if job_svr_list.use_yn == 1 %} checked {% endif %}
                            data-toggle="toggle" data-size="xs" data-onstyle="success" data-offstyle="danger"
                            data-height="20" data-width="40" data-on="On" data-off="Off" value="{{ job_svr_list.svr }}">
                    </div>
                    -->
                    </span>
                        {% endfor %}
                <!--
                    </td>
                </tr></table>
                </div>
                -->

            </td>
        </tr>
    </table>
</div>
{% endif %}


</body>
</html>