<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>left_ajax</title>
</head>
<body>
<div>
    <div class="text-center">
        <h6>
            <span class="badge badge-warning" type="button" onclick="all_click({{ job_info_lists|length }})">모두 선택/해제</span>
            <span class="badge badge-light">TOTAL CNT</span>
            <span class="badge badge-dark">ON CNT</span>
        </h6>
    </div>
    <div class="btn-group-toggle" data-toggle="buttons">
    {% for job_info_list in job_info_lists %}
            {% if job_info_list.job_info_name in job_info_name_checked_list %}
        <label class="btn btn-secondary btn-sm w-100 active">
            <input type="checkbox" id="checkbox" name="checkbox" checked class="check" value="{{ job_info_list.job_info_name }}">
            {% else %}
        <label class="btn btn-secondary btn-sm w-100">
            <input type="checkbox" id="checkbox" name="checkbox" class="check" value="{{ job_info_list.job_info_name }}">
            {% endif %}

            {% if job_info_list.job_info_name|length <= 28 %}
                {{ job_info_list.job_info_name }}
            {% else %}
                {{ job_info_list.job_info_name| slice:":28"| add:".." }}
            {% endif %}
                <span class="badge badge-light">{{ job_info_list.svr_total}}</span>
                <span class="badge badge-dark">{{ job_info_list.svr_use_total}}</span>
            </input>
        </label>
    {% endfor %}
    </div>
    <!-- s_job_name. 검색 조건을 유지하기 위함 -->
    <input id="s_job_name" name="s_job_name" type="hidden" value="{{ s_job_name }}">

    <!-- Job filter 검색. 원하는 항목만 표시하기 -->
    <div class="card card-body mt-0 bg-light 1callout 1callout-dark small">
        <!--
    <h6>Server List</h6>
    -->
        <form class="form-inline" onsubmit="return false" id="" name="">
            {% csrf_token %}
            <input type="text" class="form-control form-control-sm" id="s_svr" name="">
            &nbsp;<button id="svr_search" class="btn btn-outline-dark btn-sm">검색</button>
        </form>
        <table><tr>
            <td>
        <div class="custom-control custom-checkbox my-1 mr-sm-2">
            <input type="checkbox" class="custom-control-input" id="checkbox_unregister">
            <label class="custom-control-label" for="checkbox_unregister">미등록 안보기</label>
        </div>
            </td><td>
        <div class="custom-control custom-checkbox my-1 mr-sm-2">
            <input type="checkbox" class="custom-control-input" id="checkbox_off">
            <label class="custom-control-label" for="checkbox_off">OFF 안보기</label>
        </div>
        </td>
        </tr>
        </table>
    </div>
    <!--
    <div class="text-center mt-2">
        <form class="form-inline" onsubmit="return false" id="" name="">
            {% csrf_token %}
            <input type="text" class="form-control form-control-sm mr-1" id="" name="">
            <button id="svr_search" class="btn btn-outline-dark btn-sm">SVR 검색</button>
        </form>
        <div class="custom-control custom-checkbox my-1 mr-sm-2">
            <input type="checkbox" class="custom-control-input" id="customControlInline">
            <label class="custom-control-label" for="customControlInline">미등록 안보기</label>
        </div>
        <div class="custom-control custom-checkbox my-1 mr-sm-2">
            <input type="checkbox" class="custom-control-input" id="customControlInline1">
            <label class="custom-control-label" for="customControlInline1">OFF 안보기</label>
        </div>
    </div>
    -->

    <!-- svr_ search -->
	<script>
		$('#svr_search').click(function(){ checkbox_filter(); });
		$('#checkbox_unregister').click(function(){ checkbox_filter(); });
		$('#checkbox_off').click(function(){ checkbox_filter(); });

		function checkbox_filter() {
			var s_svr = $("#s_svr").val();
			if($("#checkbox_unregister").is(":checked")){
				var checkbox_unregister = "ON";
			}else{
				var checkbox_unregister = "OFF";
			}

			if($("#checkbox_off").is(":checked")){
				var checkbox_off = "ON";
			}else{
				var checkbox_off = "OFF";
			}

			//alert("검색어 : " + s_svr + " / 미등록 : " + checkbox_unregister + " / OFF : " + checkbox_off);

            //call_job_info_name_ajax(null);
            var checkboxValues = [];
            $("input[name='checkbox']:checked").each(function(i) {
                checkboxValues.push($(this).val());
            });

            alert(checkboxValues);

            //$.ajax( {
            //    type : 'POST',
            //    url: "{% url 'test1_right_ajax' %}",
            //    //async: false,
            //    data: {
            //        'csrfmiddlewaretoken': token,
            //        'job_info_name': job_info_name,
            //    },
            //    success: call_more_right_ajax,
            //    dataType: 'html'
            //});
        }

	</script>


    <script>
        function all_click(job_info_lists_cnt) {
            // 체크횟수 파악
            var checkboxValues = [];
            $("input[name='checkbox']:checked").each(function(i) {
                checkboxValues.push($(this).val());
            });

            // 모두 체크한게 아니라면 모두 체크로. 그게 아니라면 해크해제로 null 값 입력
            var checked_job_info_lists = [];
            if (checkboxValues.length != job_info_lists_cnt ){
                $("input[name='checkbox']").each(function(i) {
                    checked_job_info_lists.push($(this).val());
                });
			}

            // left_ajax 리로드
            test1_reload_left_ajax(checked_job_info_lists);
		}
    </script>

    <!-- left ajax-->
	<script>
		function test1_reload_left_ajax(job_info_name) {
			var s_job_name = $("#s_job_name").val();

			$.ajax( {
				type : 'POST',
				url: "{% url 'test1_reload_left_ajax' %}",
				//async: false,
				data: {
					'csrfmiddlewaretoken': token,
					'job_info_name': job_info_name,
					's_job_name': s_job_name,
				},
				success: call_more_reload_left_ajax,
				dataType: 'html'
			});
		}

		function call_more_reload_left_ajax(data, textStatus, jqXHR) {
			$('#left_ajax').html(data);
		}
	</script>


    <!-- checked all -->
    <script>
        $(document).ready(function(){
            $("input:checkbox").on('click', function() {
                var checkboxValues = [];
                $("input[name='checkbox']:checked").each(function(i) {
                    checkboxValues.push($(this).val());
                });
                call_job_info_name_ajax(checkboxValues);
            });
        });
    </script>


    <!-- right ajax script -->
    <script>
        var token = $('input[name="csrfmiddlewaretoken"]').prop('value');

        $('#right_ajax').load('dummy',function(){
            //call_job_info_name_ajax(null);
            var checkboxValues = [];
            $("input[name='checkbox']:checked").each(function(i) {
                checkboxValues.push($(this).val());
            });
            call_job_info_name_ajax(checkboxValues);
        });

        function call_job_info_name_ajax(job_info_name) {
            $.ajax( {
                type : 'POST',
                url: "{% url 'test1_right_ajax' %}",
				//async: false,
                data: {
                    'csrfmiddlewaretoken': token,
                    'job_info_name': job_info_name,
                },
                success: call_more_right_ajax,
                dataType: 'html'
            });
        }

        function call_more_right_ajax(data, textStatus, jqXHR) {
            $('#right_ajax').html(data);
        }
    </script>

</div>
</body>
</html>
