<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>right_ajax</title>
</head>
<body>
<div>
    <span style="font-size: 12px;" type="button" class="badge badge-primary" data-toggle="collapse" data-target="#collapseSelect" aria-controls="collapseSelect">abc</span>
    <br><span style="font-size: 12px;" type="button" class="badge badge-danger" data-toggle="collapse" data-target="#collapseInsert" aria-controls="collapseInsert">def</span>
    <br><span style="font-size: 12px;" type="button" class="badge badge-dark" data-toggle="collapse" data-target="#collapseInsert" aria-controls="collapseInsert">ghi</span>
</div>
</body>
</html>