<!DOCTYPE html>
{% extends 'base-monitoring.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
</head>
<body>
    {% block content %}
    <span style="font-size: 12px;" type="button" class="badge badge-danger" data-toggle="collapse_dummy" data-target="#collapseUpdateMulti" aria-controls="collapseUpdateMulti">조회</span>
    <!-- 로딩바 -->
    <div class="spinner-border spinner-border-sm text-dark" role="status" id="spinners" name="spinners"></div>

    <!-- 상단 페이지. 검색, 입력-->
    <!--
    <div class="card card-body mt-2 bg-light callout callout-danger small">
        <table class="mb-1">
            <tr>
                <td>
                    <div class="mb-2">
                    <h6>Job Server List</h6>
                    <a>- 잡 리스트에 따른 서버 통합관리 및 on/off 스위치를 제어하는 페이지입니다. </a>
                    <br><a>- 특정 job name만을 보기 원하신다면, 아래 검색란을 활용해주세요.</a>
                    </div>

                    <form class="form-inline" onsubmit="return false" id="" name="">
                        {% csrf_token %}
                        <input type="text" class="form-control form-control-sm" id="s_job_name" name="s_job_name">
                        &nbsp;<button id="search" class="btn btn-outline-dark btn-sm">검색</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
    -->
	<!-- 검색란 -->
	<div class="collapse show small" id="collapseUpdateMulti" style="1font-size: 12px;">
		<table class="w-100 mt-2" style="table-layout: fixed">
			<td style="1width: 50%">
				<div class="card card-body mt-0 bg-light callout callout-danger">
					<h6>Job List</h6>
					<a>- 잡 리스트에 따른 서버 통합관리 및 on/off 스위치를 제어하는 페이지입니다. </a>
					<a>- 특정 job name만을 보기 원하신다면, 아래 검색란을 활용해주세요.</a>

					<form class="form-inline" onsubmit="return false" id="" name="">
						{% csrf_token %}
                        <div class="mt-2">
							<input type="text" class="form-control form-control-sm" id="s_job_name" name="s_job_name">
							&nbsp;<button id="search" class="btn btn-outline-dark btn-sm">검색</button>
						</div>
					</form>
				</div>
			</td>
		</table>
	</div>
	<hr class="">

	<!-- 메인 본문. AJAX -->
<!--	<div class="container no-gutters">-->
<!--		<div class="row">-->
<!--			<div class="w-25 mw-100" id="left_ajax" style="1position: absolute; 1font-size: 12px;"></div>-->
<!--			<div class="w-75 mw-100" id="right_ajax" style="1position: absolute; 1font-size: 12px;"></div>-->
<!--		</div>-->
<!--	</div>-->

	<!-- 메인 본문. AJAX -->
	<div class="">
		<table class="w-100" border="0">
			<tr>
				<td style="width: 15%" class="align-top">
					<div class="" id="left_ajax" style="position: absolute; width: 265px; 1font-size: 12px;"></div>
					<div class="" id="dummy" style="width: 265px; height: 400px;"></div>
				</td>
				<td style="width: 85.5%" class="align-top">
					<div class="" id="right_ajax" style="1position: absolute; 1width: 85%; 1font-size: 12px;"></div>
				</td>
			</tr>
		</table>
	</div>

	<!-- 메인 본문. AJAX -->
<!--	<div>-->
<!--		<table class="w-100" border="0">-->
<!--			<tr>-->
<!--				<td style="width: 15%" class="align-top">-->
<!--					<div class="" id="left_ajax" style="position: absolute; 1font-size: 12px;"></div>-->
<!--				</td>-->
<!--				<td style="width: 85%" class="align-top">-->
<!--					<div class="ml-0" id="right_ajax" style="position: absolute; 1font-size: 12px;"></div>-->
<!--				</td>-->
<!--			</tr>-->
<!--		</table>-->
<!--	</div>-->


	<!-- floating control -->
	<script>
	$(document).ready(function() {
		var floatPosition = parseInt($("#left_ajax").css('top'));
		$(window).scroll(function() {
			// 현재 스크롤 위치를 가져온다.
			var scrollTop = $(window).scrollTop();
			var newPosition = scrollTop + floatPosition + "px";

			//$("#left_ajax").css('top', newPosition);

			$("#left_ajax").stop().animate({
				"top" : newPosition
			}, 500);
		}).scroll();
	});
	</script>

	<!-- main -->
	<script>
	$(document).ready(function(){
    	$('#spinners').hide();
	})

	.ajaxStart(function(){
        $('#spinners').fadeIn(10);

	})

	.ajaxStop(function(){
		$('#spinners').fadeOut(10);
	});
	</script>

	<!-- left ajax script -->
	<script>
		var token = $('input[name="csrfmiddlewaretoken"]').prop('value');

		$('#search').click(function(){
            call_left_ajax();
		});

        $('#left_ajax').load('dummy',function(){
            call_left_ajax();
        });

		function call_left_ajax() {
			var s_job_name = $("#s_job_name").val();

			$.ajax( {
				type : 'POST',
				url: "{% url 'server_job_list_left_ajax' %}",
				data: {
					'csrfmiddlewaretoken': token,
					's_job_name': s_job_name,
				},
				success: call_more_left_ajax,
				dataType: 'html'
			});
		}

		function call_more_left_ajax(data, textStatus, jqXHR) {
			$('#left_ajax').html(data);
		}
	</script>

    {% endblock %}
</body>
</html>
