<!DOCTYPE html>
{% extends 'base-monitoring.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% block content %}

    <!-- 상단 문구 화면-->
    <div class="" style="font-size: 12px;">
        <div class="row">
            <div class="col-sm">
                <h6>
                    server_job_list 모니터링
                    <span class="badge badge-warning" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="">
                    모두 접기/펼치기
                </span>
                    <span class="badge badge-light">TOTAL CNT</span>
                    <span class="badge badge-dark">ON CNT</span>
                </h6>
                <form class="form-inline" id="selectForm" name="selectForm" action="{% url 'server_job_list' %}" method="post">
                    {% csrf_token %}
                    <input type="text" class="form-control form-control-sm" id="job_info_name" name="job_info_name" placeholder="호스트명" value="{{ job_info_name }}">
                    <button type="submit" class="btn btn-outline-danger btn-sm mx-sm-1">검색</button>
                </form>
            </div>
        </div>
    </div><hr>

    <!-- 결과 리턴 화면 -->
    <div>
    <table class="table table-sm">
        <!--
        ======================================================================================================
        객체 파라미터 값 설명
        ======================================================================================================
        server_job_lists : QUERY 결과 서버리스트 객체들. 리스트*리스트
        server_job_list :  QUERY 결과 서버리스트 객체. 리스트 구현. server_job_list.0-5
        server_job_list.0 : svr. 서버명. ex) adb1
        server_job_list.1 : row_number. 서버별 순서. 반복 중첩문을 피해 한번의 루프로 모든 데이터를 뿌리기 위해 추가됨. ex) 1
        server_job_list.2 : cnt. 등록 잡 카운트. ex) 5
        server_job_list.3 : user_yn_on_cnt. 등록된 잡 중, ON 설정된 카운트 수. ex) 1
        server_job_list.4 : job_info_name. 잡 네임. ex) daily_p_s_accounts
        server_job_list.5 : use_yn. 사용여부. ON : 1, OFF : 0
        -->

    {% for server_job_list in server_job_lists %}
    <tr class="table-default">
        {% if server_job_list.1 == 1 %}

        <td style = "width: 30%; border: 0px solid">
            <button class="btn btn-primary btn-sm btn-block" data-toggle="collapse" href="#{{ server_job_list.0 }}" role="button" aria-expanded="false" aria-controls="{{ server_job_list.0 }}">

                <!--
				<div class="container">
					<div class="row">
                        <div class="col-8">
                        <div>
                        -->
                            {{ server_job_list.0 }}
                            <span class="badge badge-light">{{ server_job_list.2 }}</span>
                            <span class="badge badge-dark">{{ server_job_list.3 }}</span>
                <!--
                            <a href="#" class="badge badge-warning" type="submit">저장</a>
                            -->
                        <!--
                        </div>
						<div class="col-1">
                            <a href="#" class="badge badge-warning" type="submit">저장</a>
						</div>
					</dic>
				</div>
                -->

                <!--
                {{ server_job_list.0 }}
                <span class="badge badge-light">{{ server_job_list.2 }}</span>
                <span class="badge badge-dark">{{ server_job_list.3 }}</span>
                <a href="#" class="badge badge-warning" type="submit">저장</a>
                -->
            </button>
        </td>
        <td style = "width: 70%; border: 0px solid">
        <form class="form-inline" name="insertForm" action="{% url 'server_job_list_update' %}" method="post">
        {% csrf_token %}

			<div class="collapse multi-collapse" id="{{ server_job_list.0 }}">
                <!--
				<div class="1card 1card-body">
				-->
					<table class="">
        {% endif %}
							<input id="job_info_name" name="job_info_name" type="hidden" value="{{ job_info_name }}">
							<input id="server_job_list" name="server_job_list" type="hidden" value="{{ server_job_list.0 }}">
							<input id="server_job_list5" name="server_job_list5" type="hidden" value="{{ server_job_list.5 }}">
								{% if server_job_list.4 != None %}
								<tr>
                                    {% if server_job_list.1 == 1 or server_job_list.2 == 0 %}
                                        {% if server_job_list.4 != None %}
                                            <button class="btn btn-outline-danger btn-sm" type="submit">저장</button>&nbsp
                                            <!--
                                            <a class="badge badge-warning badge-pill" style="width: 3rem;" type="button">저장</a>&nbsp
                                            -->
                                        {% endif %}
                                    {% endif %}
									<span class="badge badge-dark badge-pill">
										&nbsp
										{{ server_job_list.4 }}
										&nbsp
										<input type="checkbox" id="server_job_list4" name="server_job_list4" {% if server_job_list.5 == 1 %} checked {% endif %} data-toggle="toggle" data-size="xs" data-onstyle="success"  data-offstyle="danger" data-height="20" data-width="30" data-on="On" data-off="Off" value="{{ server_job_list.4 }}.tmonc.net">
										&nbsp
									</span>
                                    &nbsp
								</tr>
								{% endif %}
				{% if server_job_list.1 == server_job_list.2 or server_job_list.2 == 0 %}
					</table>
                    <!--
					{% if server_job_list.4 != None %}
						<button class="btn btn-outline-danger btn-sm" type="submit">저장</button>
					{% endif %}
					-->
                <!--
				</div>
                -->
			</div>
        </form>
        </td>
        <!--
        <td style = "width: 4%; border: 0px solid">
            <button class="btn btn-outline-danger btn-sm" type="submit">저장</button>&nbsp
        </td>
        -->
                {% endif %}
    </tr>
    {% endfor %}
    </table>
    </div>


    {% endblock %}
</body>
</html>

