<!DOCTYPE html>
{% extends 'base-monitoring.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% block content %}

    <!-- 상단 문구 화면-->
    <div class="" style="font-size: 12px;">
        <div class="row">
            <div class="col-sm">
                <h6>
                    server_list 모니터링
                    <span class="badge badge-warning" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="">
                    모두 접기/펼치기
                </span>
                    <span class="badge badge-light">TOTAL CNT</span>
                    <span class="badge badge-dark">ON CNT</span>
                </h6>
                <form class="form-inline" id="selectForm" name="selectForm" action="{% url 'server_list' %}" method="post">
                    {% csrf_token %}
                    <input type="text" class="form-control form-control-sm" id="svr" name="svr" placeholder="호스트명" value="{{ svr }}">
                    <button type="submit" class="btn btn-outline-danger btn-sm mx-sm-1">검색</button>
                </form>
            </div>
            <div class="col-sm">
            </div>
        </div>
    </div>

    <!--
    <input id="server_list" name="server_list" type="hidden" value="{{ server_list.0 }}">
    <input id="server_list1" name="server_list1" type="hidden" value="{{ server_list.1 }}">
    <input id="server_list3" name="server_list3" type="hidden" value="{{ server_list.2 }}">
    -->

        <!--
        {{ server_list.0 }}
        {{ server_list.1 }}
        {{ server_list.2 }}
        {{ server_list.3 }}
        {{ server_list.4 }}
        {{ server_list.5 }}<br>
        -->
        <!--
        <form class="form-inline" name="insertForm" action="{% url 'server_list_update' %}" method="post">
            {% csrf_token %}
        </form>
        -->

    <!-- 결과 리턴 화면 -->
    <div>
    <table class="table table-sm">
    {% for server_list in server_lists %}
    <tr>
        {% if server_list.1 == 1 %}
        <td style = "width: 10%;">
            <a class="btn btn-primary btn-sm btn-block" data-toggle="collapse" href="#{{ server_list.0 }}" role="button" aria-expanded="false" aria-controls="{{ server_list.0 }}">
                {{ server_list.0 }}
                <span class="badge badge-light">{{ server_list.2 }}</span>
                <span class="badge badge-dark">{{ server_list.3 }}</span>
            </a>
        </td>

        <td style = "width: 90%;">
        <div class="collapse multi-collapse" id="{{ server_list.0 }}">
            <div class="card card-body">
                <form class="form-inline" name="insertForm" action="{% url 'server_list_update' %}" method="post">
                {% csrf_token %}

                <table class="table table-sm table-hover small">
                    <tr>
                        <th style = "width: 35%;">잡 스케줄</th>
                        <th style = "width: 65%;">ON/OFF</th>
                    </tr>
        {% endif %}

                        <input id="svr" name="svr" type="hidden" value="{{ svr }}">
                        <input id="server_list" name="server_list" type="hidden" value="{{ server_list.0 }}">
                        <input id="server_list5" name="server_list5" type="hidden" value="{{ server_list.5 }}">

                            {% if server_list.4 != None %}
                            <tr>
                                <td>{{ server_list.4 }}</td>
                                <td><input type="checkbox" id="server_list4" name="server_list4" {% if server_list.5 == 1 %} checked {% endif %} data-toggle="toggle" data-size="xs" data-onstyle="danger"  data-width="50" data-on="on" data-off="off" value="{{ server_list.4 }}"></td>
                            </tr>
                            {% endif %}
                        </form>
        {% if server_list.1 == server_list.2 %}
                </table>
                {% if server_list.4 != None %}
                    <div><button class="btn btn-outline-danger btn-sm" type="submit">저장</button></div>
                {% endif %}
                </form>
            </div>
        </div>
        </td>
        {% endif %}
    </tr>

    {% endfor %}
    </table>
    </div>


    {% endblock %}
</body>
</html>
