<!DOCTYPE html>
{% extends 'base-monitoring.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
</head>
<body>
    {% block content %}

    <h6>
        server_list 모니터링
        <span class="badge badge-warning" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="">
            모두 펼치기
        </span>
        <span class="badge badge-light">TOTAL CNT</span>
        <span class="badge badge-dark">ON CNT</span>
    </h6>

    <table class="table table-sm">
    {% for server_list_distinct in server_lists_distinct %}
    <tr>
        <td style = "width: 10%;">
            <a class="btn btn-primary btn-sm btn-block" data-toggle="collapse" href="#{{ server_list_distinct.0 }}" role="button" aria-expanded="false" aria-controls="{{ server_list_distinct.0 }}">
                {{ server_list_distinct.0 }}
                <span class="badge badge-light">{{ server_list_distinct.1 }}</span>
                <span class="badge badge-dark">{{ server_list_distinct.2 }}</span>
            </a>
        </td>

        <td style = "width: 90%;">
        <div class="collapse multi-collapse" id="{{ server_list_distinct.0 }}">
            <div class="card card-body">
                <table class="table table-sm table-hover small">
                    <tr>
                        <th style = "width: 60%;">잡 스케줄</th>
                        <th style = "width: 40%;">ON/OFF</th>
                    </tr>
                    {% for server_list in server_lists %}
                    {% if server_list_distinct.0 == server_list.0 %}
                        <tr>
                            <td>{{ server_list.1 }}</td>
                            <td>{{ server_list.2 }}</td>
                        </tr>
                    {% endif %}
                    {% endfor %}
                </table>
            </div>
        </div>
        </td>
    </tr>

    {% endfor %}
    </table>


    {% endblock %}
</body>
</html>
