<!DOCTYPE html>
{% extends 'base-monitoring.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% block content %}

    <!-- 상단 문구 화면-->
    <div class="" style="font-size: 12px;">
        <div class="row">
            <div class="col-sm">
                <h6>
                    server_list 모니터링
                    <span class="badge badge-warning" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="">
                    모두 접기/펼치기
                </span>
                    <span class="badge badge-light">TOTAL CNT</span>
                    <span class="badge badge-dark">ON CNT</span>
                </h6>
                <form class="form-inline" id="selectForm" name="selectForm" action="{% url 'server_list' %}" method="post">
                    {% csrf_token %}
                    <input type="text" class="form-control form-control-sm" id="svr" name="svr" placeholder="호스트명" value="{{ svr }}">
                    <button type="submit" class="btn btn-outline-danger btn-sm mx-sm-1">검색</button>
                </form>
            </div>
            <div class="col-sm">
            </div>
        </div>
    </div><hr>

    <!-- 결과 리턴 화면 -->
    <div>
    <table class="table table-sm">
        <!--
        ======================================================================================================
        객체 파라미터 값 설명
        ======================================================================================================
        server_lists : QUERY 결과 서버리스트 객체들. 리스트*리스트
        server_list :  QUERY 결과 서버리스트 객체. 리스트 구현. server_list.0-5
        server_list.0 : svr. 서버명. ex) adb1
        server_list.1 : row_number. 서버별 순서. 반복 중첩문을 피해 한번의 루프로 모든 데이터를 뿌리기 위해 추가됨. ex) 1
        server_list.2 : cnt. 등록 잡 카운트. ex) 5
        server_list.3 : user_yn_on_cnt. 등록된 잡 중, ON 설정된 카운트 수. ex) 1
        server_list.4 : job_info_name. 잡 네임. ex) daily_p_s_accounts
        server_list.5 : use_yn. 사용여부. ON : 1, OFF : 0
        -->

    {% for server_list in server_lists %}
    <tr class="table-default">
        {% if server_list.1 == 1 %}
        <td style = "width: 10%; border: 0px solid">
            <a class="btn btn-primary btn-sm btn-block" data-toggle="collapse" href="#{{ server_list.0 }}" role="button" aria-expanded="false" aria-controls="{{ server_list.0 }}">
                {{ server_list.0 }}
                <span class="badge badge-light">{{ server_list.2 }}</span>
                <span class="badge badge-dark">{{ server_list.3 }}</span>
            </a>
        </td>
        <td style = "width: 90%; border: 0px solid">
        <div class="collapse multi-collapse" id="{{ server_list.0 }}">
            <div class="card card-body">
                <form class="form-inline" name="insertForm" action="{% url 'server_list_update' %}" method="post">
                {% csrf_token %}
                <table class="table table-sm table-hover small">
                    <tr>
                        <th style = "width: 35%;">잡 스케줄</th>
                        <th style = "width: 65%;">ON/OFF</th>
                    </tr>
        {% endif %}
                        <input id="svr" name="svr" type="hidden" value="{{ svr }}">
                        <input id="server_list" name="server_list" type="hidden" value="{{ server_list.0 }}">
                        <input id="server_list5" name="server_list5" type="hidden" value="{{ server_list.5 }}">
                            {% if server_list.4 != None %}
                            <tr>
                                <td>{{ server_list.4 }}</td>
                                <td><input type="checkbox" id="server_list4" name="server_list4" {% if server_list.5 == 1 %} checked {% endif %} data-toggle="toggle" data-size="xs" data-onstyle="danger"  data-width="50" data-on="on" data-off="off" value="{{ server_list.4 }}"></td>
                            </tr>
                            {% endif %}
                        </form>
                <!--
                svr       row_number(1) cnt(2)  use_yn_on_cnt(3)  job_info_name(4)  use_yn(5)
                --------  ----------   ------  -------------     -------------      --------
                admindb1           1        1  1                 daily_df           1
                blog-dev           1        1  0                 (NULL)             (NULL)
                -->
            {% if server_list.1 == server_list.2 or server_list.2 == 0 %}
                </table>
                {% if server_list.4 != None %}
                    <div><button class="btn btn-outline-danger btn-sm" type="submit">저장</button></div>
                {% endif %}
                </form>
            </div>
        </div>
        </td>
            {% endif %}
    </tr>
    {% endfor %}
    </table>
    </div>


    {% endblock %}
</body>
</html>
